body,html{
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  background-color: black;
  z-index: 0;

}

/*Snap scrolling only compatible with Firefox at current time but under development for chrome and safari*/
.scroller {
  scroll-snap-type: mandatory;
  scroll-snap-destination: 0% 100%;
  scroll-snap-points-y: repeat(100%);
}

nav ul{
  list-style: none;
  overflow: hidden;
  position: fixed;
  right: 8%;
}

nav ul li{
  float: left;
  margin: 0 0 0 0;
  z-index: 1;
}

nav ul li a{
  display: block;
  width: 40px;
  height: 40px;
  font-size: 25px;
  text-align: center;
  color: #d8d8d8;
  background-color: #ffaeae;
}

nav ul li a:hover{
  color: #ffaeae;
  background-color: #d8d8d8;
}

nav ul li div{
  overflow: hidden;
  display: flex;
  position: fixed;
  font-size: 50px;
  font-weight: bolder;
  color: #ffaeae;
  filter: drop-shadow(5px 5px 5px black);
  top:0; right:0; left:0; bottom:0;
  background-color: #d8d8d8;
  z-index: -1;
  width: 100%;
  height: 100%;
  transition-duration: 0.5s;
  opacity: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
}

nav ul li a:hover + div{
  display: flex;
  opacity: 2;
}

#parallax1{
  background: url(../Assets/images/Background.png) no-repeat 0% 100%; //Does not yet work on 1900+ screen sizes
  top: 0; left: 0; bottom: 0; right: 0;
  position: absolute;
  z-index: -1;
  padding: 0;
  margin: 0;
  height: 100%;
}

#parallax2{
  background: url(../Assets/images/Middle.png) no-repeat 0% 100%; //Does not yet work on 1900+ screen sizes
  top: 0; left: 0; bottom: 0; right: 0;
  position: absolute;
  z-index: -1;
  padding: 0;
  margin: 0;
  height: 100%;
}

#parallax3{
  background: url(../Assets/images/Front.png) no-repeat 0% 100%; //Does not yet work on 1900+ screen sizes
  top: 0; left: 0; bottom: 0; right: 0;
  position: absolute;
  z-index: -1;
  padding: 0;
  margin: 0;
  height: 100%;
}

.logo{
  width: 60%;
  margin-top: 50px;
  filter: drop-shadow(5px 5px 5px black);
}

.home{
  height: 100%;
  position: relative;
  text-align: center;
  color: #fff;
  filter: drop-shadow(3px 3px 3px black);
  z-index: -1;
}

.portfolio{
  background: #d8d8d8;
  min-height: 100%;
  height: auto;
}

.experienceEducation{
  background: #ffaeae;
  min-height: 100%;
  height: auto;
}

.getInTouch{
  background: #d8d8d8;
  min-height: 100%;
  height: auto;
}

.titleTextP{
  height: 40px;
  width: auto;
  margin: 0 0 0 0;
  color: #d8d8d8;
  background-color: #ffaeae;
  position: absolute;
  padding-left: 5px;
  padding-right: 5px;
}

.titleTextG{
  height: 40px;
  width: auto;
  margin: 0 0 0 0;
  color: #ffaeae;
  background-color: #d8d8d8;
  position: absolute;
  padding-left: 5px;
  padding-right: 5px;
}

.card{
  position: relative;
  color: #ffaeae;
  border-color: #ffaeae;
  border-width: thick;
  font-size: 17px;
  justify-content: center;
  z-index: 0;
  transition-duration: 0.5s;
}

.card:hover{
  transform: scale(1.05);
  filter: drop-shadow(3px 3px 10px black);
  z-index: 1;
}

.card-header{
  font-size: 20px;
}

/*
 *  Responsive Grid Media Queries
 *   1280-1024   - desktop (default grid)
 *   1024-768    - tablet landscape
 *   768-480     - tablet
 *   480-less    - phone landscape & smaller
 */

@media all and (min-width: 1024px) and (max-width: 1280px) { }

@media all and (min-width: 768px) and (max-width: 1024px) { }

@media all and (min-width: 480px) and (max-width: 768px) { }

@media all and (max-width: 480px) {
 h1{
   font-size: 25px;
 }

 h2{
   font-size: 20px;
 }

 .titleTextP, .titleTextG{
   height: 24px;

 }

}
