/*HTML and Body default settings*/
body,html{
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  scroll-behavior: smooth;
  z-index: 4;
}

/*Removes space occuring between footer and body*/
footer{
  margin-top: -16px;
  padding-top: 10px;
}

/*Main navigation bar*/
nav ul{
  list-style: none;
  position: fixed;
  right: 80px;
  z-index: 4;
}

nav ul li{
  float: left;
  margin: 0 0 0 0;
}

nav ul li a{
  display: block;
  width: 40px;
  height: 40px;
  font-size: 25px;
  text-align: center;
  color: #f6f5f5;
  background-color: #ffaeae;
}

nav ul li a:hover{
  color: #fdaeae;
  background-color: #f6f5f5;
}

nav ul li div{
  position: fixed;
  display: flex;
  font-size: 50px;
  font-weight: bolder;
  color: #ffaeae;
  top:0; right:0; left:0; bottom:0;
  background-color: #f6f5f5;
  width: 100%;
  height: 0%;
  transition-duration: 0.5s;
  opacity: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

/*Styling of 'hr'*/
hr{
  margin-top: 50px;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(246, 245, 245), rgba(0, 0, 0, 0));
}

/*Social navigation bar*/
.socMenu ul{
    list-style: none;
    position: fixed;
    right: 0;
    top: 80px;
    z-index: 4;
  }

.socMenu ul li{
    float: top;
    margin: 0 0 0 0;
  }

.socMenu ul li a{
    display: block;
    width: 40px;
    height: 40px;
    font-size: 25px;
    text-align: center;
    color: #f6f5f5;
    background-color: #ffaeae;
  }

.socMenu ul li a:hover{
    color: #fdaeae;
    background-color: #f6f5f5;
  }

/*Size and shadow of logo*/
.logo{
  width: 50%;
  margin-top: 100px;
  filter: drop-shadow(5px 5px 5px black);
}

/*Makes page background black when applied though JS function 'nightColor' */
.timeD{
  background-color: black;
}

/*Landing/Home page styles*/
.home{
  height: 100%;
  position: relative;
  text-align: center;
  color: #f6f5f5;
  filter: drop-shadow(3px 3px 3px black);
  z-index: 1;
}

/*Portfolio page styles*/
.portfolio{
  position: relative;
  color: black;
  background: radial-gradient(#ebebeb, #d8d8d8 75%);
  min-height: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

/*Potfolio page - Profile pic size*/
.profile{
  max-height: 200px;
}

/*Potfolio page - Description bio styles*/
.portfolioDescription{
  padding-top: 100px;
  padding-bottom: 80px;
  text-align: center;
}

/*Experience and Education page styles*/
.experienceEducation{
  position: relative;
  color: black;
  background: radial-gradient(#ffc6c6, #ffaeae 75%);
  min-height: 100%;
  height: auto;
  z-index: 1;
}

/*Get in Touch page styles*/
.getInTouch{
  position: relative;
  color: black;
  background: radial-gradient(#ebebeb, #d8d8d8 75%);
  min-height: 100%;
  height: auto;
  z-index: 1;
}

/*Get in Touch page - Contact form styles*/
.formC{
  padding-top: 100px;
}

/*Page title styles (Pink and Grey)*/
.titleTextP{
  height: 40px;
  width: auto;
  margin: 0 0 0 0;
  color: #f6f5f5;
  background-color: #ffaeae;
  position: absolute;
  padding-left: 5px;
  padding-right: 5px;
  z-index: 2;
}

.titleTextG{
  height: 40px;
  width: auto;
  margin: 0 0 0 0;
  color: #f6f5f5;
  background-color: #d8d8d8;
  position: absolute;
  padding-left: 5px;
  padding-right: 5px;
  z-index: 2;
}

/*Classes for background colors*/
.bPink{
  background-color: #ffaeae;
  padding-bottom: 8px;
}

.bGrey{
  background-color: #d8d8d8;
  padding-bottom: 8px;
}

.bLGrey{
  background-color: #f6f5f5;
}

/*Default styles for cards (override bootstrap)*/
.card{
  color: #ffaeae;
  border-color: #ffaeae;
  border-width: thick;
  font-size: 17px;
  justify-content: center;
  transition-duration: 0.5s;
}

.card-header{
  font-size: 20px;
}

.card:hover{
  transform: scale(1.05);
  z-index: 1;
}

/*Default styles for modals*/
.modal{
  max-height: 96%;
}

.modal-body{
  text-align: center;
}

.modal-body img{
  max-height: 560px;
  width: 80%;
}

/*Carousel naviagtion arrrows (next/prev) colors*/
.carousel-control-prev-icon, .carousel-control-next-icon{
  background-color: #ffaeae;
}

/*Experience and Edcuation page - Timeline of jobs/education (responsive changes @media)*/
.eeTimeline
{
	padding: 10px 0 30px 0px;
}

.main-timeline .timeline-content{
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    -webkit-box-shadow: 0 3px 0 #f6f5f5;
    -moz-box-shadow: 0 3px 0 #f6f5f5;
    -ms-box-shadow: 0 3px 0 #f6f5f5;
    transition: all 0.3s ease 0s;
}

.main-timeline .icon{
    display: inline-block;
    font-size: 22px;
    font-weight: 300;
    color: #ffaeae;
    padding: 8px 28px;
    background: #f6f5f5;
    border-radius: 30px;
}

.main-timeline .title{
    font-size: 24px;
    font-weight: 500;
    color: #f6f5f5;
    margin-top: 30px;
}

.main-timeline .description{
    font-size: 14px;
    color: black;
    line-height: 2;
}

/*Parallax scrolling effect*/
#parallax1{
  background: url(../Assets/images/Background.png) no-repeat 0% 100%; //Does not yet work on 1900+ screen sizes
  top: 0; left: 0; bottom: 0; right: 0;
  position: absolute;
  z-index: 0;
  padding: 0;
  margin: 0;
  height: 100%;
}

#parallax2{
  background: url(../Assets/images/Middle.png) no-repeat 0% 100%; //Does not yet work on 1900+ screen sizes
  top: 0; left: 0; bottom: 0; right: 0;
  position: absolute;
  z-index: 0;
  padding: 0;
  margin: 0;
  height: 100%;
}

#parallax3{
  background: url(../Assets/images/Front.png) no-repeat 0% 100%; //Does not yet work on 1900+ screen sizes
  top: 0; left: 0; bottom: 0; right: 0;
  position: absolute;
  z-index: 0;
  padding: 0;
  margin: 0;
  height: 100%;
}

/*Media Queries to adjust items depending on screen size*/
@media (min-width: 1200px) {
  nav ul li a:hover + div{
    opacity: 1;
    height: 100%;
  }
}
@media (min-width: 992px) { }
@media (min-width: 768px) {

  /*Experience and Education page - Timeline is full when screen above 768px width*/
  .main-timeline .timeline-icon{
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #fff;
      border: 2px solid #f6f5f5;
      position: absolute;
      top: 0;
      left: 3px;
      right: 0;
      margin: 0 auto;
      overflow: hidden;
  }

  .main-timeline .timeline-content{
      width: 45%;
      text-align: right;
  }

  .main-timeline{
      position: relative;
      transition: all 0.4s ease 0s;
  }

  .main-timeline:before{
      content: "";
      width: 3px;
      height: 100%;
      background: #d8d8d8;
      position: absolute;
      top: 0;
      left: 50%;
  }

  .main-timeline .timeline{
      position: relative;
  }

  .main-timeline .timeline:before,
  .main-timeline .timeline:after{
      content: "";
      display: block;
      width: 100%;
      clear: both;
  }

  .main-timeline .timeline-content.right{
      float: right;
      text-align: left;
  }
}
@media (min-width: 576px) { }
@media (max-width: 575px) {

/*Titles chnage size on extra small screens*/
 h1{
   font-size: 28px;
 }

 h2{
   font-size: 24px;
 }

 .titleTextP, .titleTextG{
   height: 28px;

 }

}
