body,html{
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  background-color: black;
  z-index: -3;
}

#parallax1{
  background: url(../Assets/images/Background.png) no-repeat 0% 100%; //Does not yet work on 1900+ screen sizes
  top: 0; left: 0; bottom: 0; right: 0;
  position: absolute;
  z-index: -1;
  padding: 0;
  margin: 0;
  height: 100%;
}

#parallax2{
  background: url(../Assets/images/Middle.png) no-repeat 0% 100%; //Does not yet work on 1900+ screen sizes
  top: 0; left: 0; bottom: 0; right: 0;
  position: absolute;
  z-index: -1;
  padding: 0;
  margin: 0;
  height: 100%;
}

#parallax3{
  background: url(../Assets/images/Front.png) no-repeat 0% 100%; //Does not yet work on 1900+ screen sizes
  top: 0; left: 0; bottom: 0; right: 0;
  position: absolute;
  z-index: -1;
  padding: 0;
  margin: 0;
  height: 100%;
}

.welcome{
    height: 100%;
    z-index: 0;
    position: relative;
    text-align: center;
    color: #fff;
}

.aboutMeSection{
  background: #d8d8d8;
  min-height: 1000px;
}

nav ul{
  list-style: none;
  overflow: hidden;
  position: fixed;
  z-index: 1;
  right: 0;
}

nav ul li{
  float: left;
  margin: 0 0 0 0;
}

nav ul li a{
  display: block;
  width: 40px;
  height: 40px;
  font-size: 25px
}

nav ul li:nth-child(1) a{
  background-color: #ffaeae;
  color: #d8d8d8;
  text-align: center;
}

nav ul li:nth-child(2) a{
  background-color: #ffaeae;
  color: #d8d8d8;
  text-align: center;
}

nav ul li:nth-child(3) a{
  background-color: #ffaeae;
  color: #d8d8d8;
  text-align: center;
}

nav ul li:nth-child(4) a{
  background-color: #ffaeae;
  color: #d8d8d8;
  text-align: center;
}
