/*HTML and Body default settings*/
body,html{
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans Narrow', sans-serif;
  position: relative;
  scroll-behavior: smooth;
  z-index: 4;
  background-color: #000000;
}

/*Removes space occuring between footer and body*/
footer{
     position: relative;
     z-index: 1;
     height: 2.5em;
     margin-top: -2.5em;
}

/*Main navigation bar*/
nav ul{
  list-style: none;
  position: fixed;
  right: 80px;
  z-index: 4;
  transition-duration: 0.5s;
}

nav ul li{
  float: left;
  margin: 0 0 0 0;
}

nav ul li a{
  display: block;
  width: 40px;
  height: 40px;
  font-size: 25px;
  text-align: center;
  color: #ffffff;
  background-color: #67bfc7;
  z-index: 5;
}

nav ul li a:hover{
  color: #67bfc7;
  background-color: #ffffff;
}

nav ul li div{
  position: fixed;
  display: flex;
  font-size: 30px;
  font-weight: bolder;
  overflow: hidden;
  color: #67bfc7;
  right: 240px;
  top: 0px;
  background-color: #ffffff;
  width: 0px;
  height: 40px;
  transition-duration: 0.5s;
  opacity: 1;
  z-index: 4;
}

/*Social navigation bar*/
.socMenu ul{
    list-style: none;
    position: fixed;
    right: 0;
    top: 80px;
    z-index: 4;
  }

.socMenu ul li{
    float: top;
    margin: 0 0 0 0;
  }

.socMenu ul li a{
    display: block;
    width: 40px;
    height: 40px;
    font-size: 25px;
    text-align: center;
    color: #ffffff;
    background-color: #67bfc7;
  }

.socMenu ul li a:hover{
    color: #67bfc7;
    background-color: #ffffff;
  }

.logoContainer{
  display: flex;
  height:100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.logo{
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo img{
  width: 70%;
  align-self: center;
}

h1 {
  font-size: 9em;
}

/*Styling of 'hr'*/
hr{
  height: 2px;
  background-image: linear-gradient(to right, rgba(250, 250, 250, 0), rgba(250, 250, 250, 250), rgba(250, 250, 250, 0));
}

.tPink{
  color: #E95E85;
}
.tBlue{
  color: #67bfc7;
}

/*Landing/Home page styles*/
.home{
  height: 100%;
  position: relative;
  color: white;
  z-index: 1;
}

/*Portfolio page styles*/
.portfolio{
  position: relative;
  color: white;
  min-height: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.flexContainerRow{
  display: flex;
  flex-flow: row-reverse wrap-reverse;
  justify-content: center;
  align-items: center;
  margin-left: -10%;
  margin-right: -10%;
}

.portfolio a:link, .portfolio a:visited, .portfolio a:hover {
  color: #67bfc7;
  text-decoration: none;
}

/*Potfolio page - Profile pic size*/
.profile{
  max-height: 200px;
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
}

/*Potfolio page - Description bio styles*/
.portfolioDescription{
  padding-top: 100px;
  padding-bottom: 80px;
  text-align: center;
}

/*Experience and Education page styles*/
.experienceEducation{
  position: relative;
  color: white;
  min-height: 100%;
  height: auto;
  z-index: 1;
}

/*Get in Touch page styles*/
.getInTouch{
  position: relative;
  color: white;
  min-height: 98%;
  height: auto;
  z-index: 1;
}

/*Get in Touch page - Contact form styles*/
.formC{
  padding-top: 100px;
}

/*Page title styles (Blue and White)*/
.titleTextB{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: fit-content;
  width: fit-content;
  margin: 0 0 0 0;
  padding: 5px 10px 5px 10px;
  color: #ffffff;
  background-color: #67bfc7;
  z-index: 2;
}

/*Classes for background colors*/
.bBlue{
  background-color: #67bfc7;
  padding-bottom: 8px;
}

.cardContainer{
  display: flex;
  max-width: 12rem;
  height: auto;
  transition-duration: 0.5s;
}

/*Default styles for cards (override bootstrap)*/
.card{
  color: #67bfc7;
  font-size: 16px;
  justify-content: center;
}

.card-header{
  font-size: 18px;
}

.card:hover{
  transform: scale(1.05);
  z-index: 1;
}

/*Default styles for modals*/
.modal{
  max-height: 96%;
}

.modal-body{
  text-align: center;
}

.modal-body img{
  max-height: 560px;
  width: 80%;
}

/*Carousel naviagtion arrrows (next/prev) colors*/
.carousel-control-prev-icon, .carousel-control-next-icon{
  background-color: #67bfc7;
}

/*Experience and Edcuation page - Timeline of jobs/education (responsive changes @media)*/
.eeTimeline
{
	padding: 10px 0 30px 0px;
}

.main-timeline .timeline-content{
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    -webkit-box-shadow: 0 3px 0 #ffffff;
    -moz-box-shadow: 0 3px 0 #ffffff;
    -ms-box-shadow: 0 3px 0 #ffffff;
    transition: all 0.3s ease 0s;
}

.main-timeline .icon{
    display: inline-block;
    font-size: 22px;
    font-weight: 300;
    color: #67bfc7;
    padding: 8px 28px;
    background: #ffffff;
    border-radius: 30px;
}

.main-timeline .title{
    font-size: 24px;
    font-weight: 500;
    color: #ffffff;
    margin-top: 30px;
}

.main-timeline .description{
    font-size: 16px;
    color: white;
    line-height: 2;
}

#sketchContainer{
  position: fixed;
  transform: translateZ(-200px);
  z-index: -10;
}

/*Parallax scrolling effect*/
/*#parallax1{
  background: url(../Assets/images/White.svg) no-repeat 0% 100%; //Does not yet work on 1900+ screen sizes
  top: 0; left: 0; bottom: 0; right: 0;
  position: absolute;
  z-index: 0;
  padding: 0;
  margin: 0;
  height: 100%;
}

#parallax2{
  background: url(../Assets/images/Blue.svg) no-repeat 0% 100%; //Does not yet work on 1900+ screen sizes
  top: 0; left: 0; bottom: 0; right: 0;
  position: absolute;
  z-index: 0;
  padding: 0;
  margin: 0;
  height: 100%;
}

#parallax3{
  background: url(../Assets/images/DarkBlue.svg) no-repeat 0% 100%; //Does not yet work on 1900+ screen sizes
  top: 0; left: 0; bottom: 0; right: 0;
  position: absolute;
  z-index: 0;
  padding: 0;
  margin: 0;
  height: 100%;
}*/

/*Media Queries to adjust items depending on screen size*/
@media (min-width: 1200px) {
}
@media (min-width: 992px) {
}
@media (min-width: 768px) {

  /* Nav menu text glide out*/
  nav ul li a:hover + div{
    opacity: 1;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
  }


  /*Experience and Education page - Timeline is full when screen above 768px width*/
  .main-timeline .timeline-icon{
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #fff;
      border: 2px solid #ffffff;
      position: absolute;
      top: 0;
      left: 3px;
      right: 0;
      margin: 0 auto;
      overflow: hidden;
  }

  .main-timeline .timeline-content{
      width: 45%;
      text-align: right;
  }

  .main-timeline{
      position: relative;
      transition: all 0.4s ease 0s;
  }

  .main-timeline:before{
      content: "";
      width: 3px;
      height: 100%;
      background: #67bfc7;
      position: absolute;
      top: 0;
      left: 50%;
  }

  .main-timeline .timeline{
      position: relative;
  }

  .main-timeline .timeline:before,
  .main-timeline .timeline:after{
      content: "";
      display: block;
      width: 100%;
      clear: both;
  }

  .main-timeline .timeline-content.right{
      float: right;
      text-align: left;
  }


}
@media (min-width: 576px) { }
@media (max-width: 575px) {

/*Titles change size on extra small screens*/
 h1{
   font-size: 4em;
 }

 h2{
   font-size: 24px;
 }

 .titleTextB{
   height: 28px;

 }

 nav ul{
   right: calc(50% - 80px);
 }

}
