html, body {
  display:flex;
  flex-flow: column;
  font-family: 'PT Sans Narrow', sans-serif;
  background: radial-gradient(#676e7c, #263145  85%);
  color: #f2fdff;
  justify-content: space-between;
  align-content: space-between;
  height: 100%;
  min-height: 100%;
}

header{
  display: flex;
  justify-content: flex-start;
  flex-flow: column wrap;
  flex: 1 0 auto;
}

main {
  display: flex;
  flex-flow: column nowrap;
  flex-flow: nowrap;
  flex: 6 0 auto;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  flex-flow: column wrap;
  flex: 3 0 auto;
  justify-content: flex-end;
}

.flex-container-row {
  display: flex;
  flex-flow: row wrap;
}

.flex-container-col{
  display: flex;
  flex-flow: column wrap;
}

nav {
  justify-content: flex-end;
}

.navItem {
  margin: 5px;
}

.mainLogo-container {
  display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.mainLogo {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.input-group {
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}

.input-group-append {
  margin-left: -1px;
}

/*Button backgorund set to theme white*/
.btn {
  background-color:#f2fdff;
}

.card{
  display: flex;
  margin: 10px;
  background-color: rgba(245, 245, 245, 0);
  padding: 5px;
  outline: 0 none;
  border: none;
  text-align: center;
text-decoration: none;
list-style: none;
}

.card a {
  color:#53d8fb;
}

.card:first-of-type {
  width: 100%;
  margin: 20px;
  height: auto;
}

/*Outer glow on bootstrap buttons and form fields set to theme blue*/
.card:first-of-type, .btn:focus,.btn:active,textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #53d8fb;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #53d8fb;
  outline: 0 none;
}

/*Shortcut to to apply background of theme pink*/
.pink{
  background-color: #ee4266;
}

.platformImage {
  height: auto;
  width: auto;
  max-width: 150px;
  max-height: 150px;
  align-self: center;
}

.flex-centre {
  justify-content: center;
  align-items: center;
}

.flex-footer{
  padding: 5%;
}

.movieContainer{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 10px;
}

ul#horizontal-list{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: none;
  padding: none;
  text-decoration: none;
  list-style: none;
}

ul#horizontal-list li {
display: flex;
list-style: none;
margin: none;
padding: none;
text-decoration: none;
}

form.search{
  display: flex;
  justify-content: center;
}

.form-control{
  width: 40vw;
  height: 40px;
}

.input-group-append{
  height: 40px;
  width: 40px;
}

img.applogos{
    height: 50px;
    width: 50px;
    padding: 10px;
}
